{{template "base" .}}

{{define "content"}}

<div style="float: right; padding-bottom: 10px; text-align: center">
  <img class="ImageMargin" style="border: 1px solid #C5C5C5; padding: 8px; box-shadow: 0 1px 3px 0.5px #C5C5C5;"
    src="static/images/Coffee-main.jpg" alt="coffee main" width="350px" /><br />
  <em class="ImageTitle">Classic Roast Coffee</em>
</div>
<h1 class="CommonTitle text-center mt-4">
  Cold Brew
</h1>
<p class="CommonContent" style="padding-left: 100px;">
  <strong>Cold Brew</strong> is created by steeping medium-to-coarse ground coffee in room temperature water for 12
  hours or longer and
  then filtering out the grounds for a clean cup without sediment. Unlike regular coffee, cold brew is never exposed to
  heat. Cold brew uses time, rather than heat to extract the coffee’s oils, sugars, and caffeine.
</p>
<h2 class="CommonHeader1" style="padding-left: 100px;">
  Benefits
</h2>
<p class="CommonContent" style="padding-left: 100px;">
<ul style="padding-left: 150px;">
  <li>Improved Foucs and Alertness</li>
  <li>Boost metabolism</li>
  <li>Memory Rentention</li>
  <li>High in potassium</li>
</ul>
</p>
<h1 class="CommonTitle text-center" style="padding-right: 380px;">
  Cassava
</h1>
<p class="CommonContent" style="padding-left: 100px;">
  <strong>Cassava Cake</strong> is a type cake made out of cassava and coconut milk, a popular dessert or snack in the Philippines.
  Cassava which is also called yuca or manioc is a root crop native to tropical and sub-tropical regions. It is the
  third largest source of carbohydrates after rice and corn.
</p>
<h2 class="CommonHeader1" style="padding-left: 100px;">
  Benefits
</h2>
<p class="CommonContent" style="padding-left: 100px;">
<ul style="padding-left: 150px;">
  <li>Antioxidants from coconut shreds</li>
  <li>Boost in energy</li>
  <li>High in minerals</li>
</ul>
</p>
<p class="CommonFooter11111"
  style="text-align: right; font-family: 'Segoe UI', Helvetica, Tahoma, sans-serif; font-size: 8pt; color: #919191;">
  From <a class="Link" href="http://en.wikipedia.org/wiki/Olive_oil" target="_blank">Wikipedia</a>, the free
  encyclopedia
</p>




{{end}}