{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row center text-center">
      <div class="col">
      </div>
      <h1>Contact</h1>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <h3>Name<h3>
            <li class="list-group-item">Zachary F. Marmolejo</li>
          <h3>Number</h3>
            <li class="list-group-item"> N/A </li>
          <h3> Email </h3>
            <li class="list-group-item"> N/A </li>
        </ul>
      </div>
    </div>
  </div>


{{end}}
