{{template "base" .}}

{{define "content"}}
<!-- carousel -->
<div id="coffee-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#coffee-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#coffee-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#coffee-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/images/Coffee.jpg" class="rounded mx-auto d-block" alt="black-coffee">
        <div class="carousel-caption d-none d-md-block">
          <h2>Cold Coffee</h2>
          <p class="h5">My personal favorite: Cold coffee no cream or sugar.</p>
        </div>
      </div>
  
      <div class="carousel-item">
        <img src="/static/images/Coffee-main.jpg" class="rounded mx-auto d-block" alt="cold-brew">
        <div class="carousel-caption d-none d-md-block">
          <h2>Classic Dark Roast</h2>
          <p class="h5">Dark Roast is a bold and full bodied coffee flavor.</p>
        </div>
      </div>
  
      <div class="carousel-item">
        <img src="/static/images/Cassava-cake.jpg" class="rounded mx-auto d-block" alt="cassava-cake">
        <div class="carousel-caption d-none d-md-block">
          <h2>Cassava Cake</h2>
          <p class="h5">Made from grated cassava, coconut milk, condensed milk with a custard layer on top.</p>
        </div>
      </div>
    </div>
  
    <button class="carousel-control-prev" type="button" data-bs-target="#coffee-carousel" data-bs-slide="prev" hidden="true">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#coffee-carousel" data-bs-slide="next" hidden="true">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- end carousel -->
  
  
  
      <div class="container">
          <h1 class="text-center mt-1"> Welcome to Coffee & Cassava </h1>
          <p class="text-center">Enjoy your coffee with one of the best desserts in existence, cassava cake.</p>
          <div class="row">
              <div class="col">
              </div>
          </div>
      </div>
  
  
      <div class="row">
          <div class="col text-center"> 
              <a href="/order" class="btn btn-success">Order C&C</a>
  
          </div>
      </div>
{{end}}