{{template "base" .}}

{{define "content"}}

<!--To lookup info in a map, use index, the map we want to lookup (in this case data) .Data 
    and the key (in this case the order confirmation) "confirmInfo" which will get stored in the $ord variable-->
{{$conf := index .Data "confirmInfo"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-5">
                Order Summary
                <hr>
            </h1>
            <table class="table table-striped">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>{{$conf.FirstName}} {{$conf.LastName}}</td>
                    </tr>

                    <tr>
                        <td>Order Date:</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Order Items:</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Email:</td>
                        <td>{{$conf.Email}}</td>
                    </tr>

                    <tr>
                        <td>Phone:</td>
                        <td>{{$conf.Phone}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

{{end}}