{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-5">
                Order Summary
                <hr>
            </h1>
                <table class="table table-striped">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td>Name:</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Order Date:</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Order Items:</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Email:</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Phone:</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            
        </div>
    </div>
</div>

{{end}}