{{template "base" .}}

{{define "content"}}


<div class="container">
  <div class="col-md-6">
    <h1 class="mt-5">Order Now</h1>


      <form method="post" action="/order" class="" novalidate>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

        <div class="form-group mt-5">
            <input required class="form-control" type="text" name="order_date" placeholder="Order date">
        </div>


        <div class="form-group mt-2">
            <select required class="form-control" list="order_items" type="search" name="order_items" placholder="Order Items">
              <option value="Coffee">
                Coffee - $3.99
              </option>
              <option value="Cassava Cake">
                Cassava Cake - $5.99
              </option>
              <option value="Coffee & Cassava Cake">
                Coffee & Cassava Cake - $ 10.69
              </option>
            </select>
        </div>
        
          <hr>
          <input type="sumbit" class="btn btn-primary" value="Place Order">
      </form>
  </div>
</div>


{{end}}