{{template "base" .}}

{{define "content"}}


<div class="container">
    <div class="col-md-6">
      <h1 class="mt-5">Order Now</h1>

      <form action="/order" method="post" class="needs-validation" novalidate>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <div class="form-row">
          <div class="col">
            <input required class="form-control" type="text" name="order-date" placeholder="Order date">
          </div>
          <div class="col mt-3">
            <select required class="form-control" list="products" type="search" name="order-items" placholder="Order Items">
              <option value="Coffee">
                Coffee - $3.99
              </option>
              <option value="Cassava-cake">
                Cassava Cake - $5.99
              </option>
              <option value="Coffee & Cassava-cake">
                Coffee & Cassava Cake - $ 10.69
              </option>
            </select>
          </div>
        </div>

        <hr>
        <button type="sumbit" class="btn btn-primary">Place Order</button>
      </form>
    </div>
  </div>



  <!-- <div class="row">
    <div class="col">
      <p>
        <button id="button" class="btn btn-outline-secondary"> Click here</button>
      </p>
    </div>
  </div> -->


{{end}}